.container.center
  %h1 About Match-me, baby!
  %h2
    An app developped with rails 5.2.0, ruby 2.5.1 and with love by
    = link_to 'Papa Ours', 'https://github.com/CamilleBC'
    \.
    %br
    %br
    = link_to 'Contact me.', 'mailto:papa_ours@42.fr'
    %br
    %br
    Icons are 
    %span
      %a{href: 'https://material.io/tools/icons/?style=baseline'}
        Material Icons
      by
      %a{href: 'https://github.com/google/material-design-icons'}
        Google
      , available under the
      %a{href: 'https://www.apache.org/licenses/LICENSE-2.0.html'}
        Apache license
      \.
