%footer{class: "footer"}
= nav_bar fixed: :bottom, inverse: true, responsive: true do
  = menu_group pull: :right do
    = menu_item 'About', about_path
    = menu_item 'Contact', 'mailto:papa_ours@42.fr'
        
